.siteLogo {
    width:20%;
    min-width: 225px;
    min-height: 225px;
    max-width: 300px;
    max-height: 300px;

}

.siteLinks {
    text-align: right;
    margin-right: 10%;
    font-size: 50px;
    font-family:'Franklin Gothic Medium';
    font-style: none;
    word-spacing: 50px;
    color: rgb(0, 0, 0);
    
}

#link {
    color: rgb(255, 20, 147);
    text-decoration: none;
}

.featuredGames {
    padding-top: 100px;
    text-align: center;
}

#featuredGame {
    width: 10%;
    min-width: 300px;
    min-height: 300px;
    max-width: 600px;
    max-height: 600px;
    padding-right: 35px;
}