.coolLogo {
    width:15%;
    display: block;
    margin: auto;
    position: static;
}

#dinnerFact {
    text-align: center;
    font-family:'Franklin Gothic Medium';
    font-style: none;

}

#dinnerBtn {
    border: none;
    background-color: inherit;
}

#factButton {
    height: 200px;
}